<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: large;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>iam sending some data from</h1>
    <h1>hi, how are you {{name}}</h1>
    <h1>{{name}} age is 20</h1>
</body>
</html>